In [3]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [4]:
car=pd.read_csv('CAR DETAILS FROM CAR DEKHO.csv')

In [3]:
car.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [5]:
car.tail()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [25]:
car.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [27]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [28]:
car[['name']].value_counts()

name
Maruti Swift Dzire VDI                  69
Maruti Alto 800 LXI                     59
Maruti Alto LXi                         47
Hyundai EON Era Plus                    35
Maruti Alto LX                          35
                                        ..
Mahindra KUV 100 G80 K4 Plus             1
Mahindra KUV 100 mFALCON D75 K8          1
Mahindra KUV 100 mFALCON D75 K8 AW       1
Mahindra KUV 100 mFALCON G80 K2 Plus     1
Volvo XC60 D5 Inscription                1
Length: 1491, dtype: int64

In [29]:
car[['fuel', 'seller_type', 'transmission', 'owner']].value_counts()

fuel      seller_type       transmission  owner
Petrol    Individual        Manual        First Owner             892
Diesel    Individual        Manual        First Owner             835
Petrol    Individual        Manual        Second Owner            454
Diesel    Individual        Manual        Second Owner            453
          Dealer            Manual        First Owner             336
Petrol    Dealer            Manual        First Owner             306
Diesel    Individual        Manual        Third Owner             142
Petrol    Individual        Manual        Third Owner             130
Diesel    Dealer            Automatic     First Owner             114
Petrol    Dealer            Automatic     First Owner              80
Diesel    Individual        Automatic     First Owner              73
Petrol    Individual        Automatic     First Owner              67
Diesel    Dealer            Manual        Second Owner             56
Petrol    Trustmark Dealer  Manual        First Owner              49
          Dealer            Manual        Second Owner             44
          Individual        Manual        Fourth & Above Owner     41
Diesel    Trustmark Dealer  Manual        First Owner              34
          Individual        Manual        Fourth & Above Owner     32
                            Automatic     Second Owner             31
Petrol    Individual        Automatic     Second Owner             20
CNG       Individual        Manual        First Owner              14
                                          Second Owner             12
Diesel    Trustmark Dealer  Automatic     First Owner              12
Petrol    Individual        Automatic     Third Owner              10
Diesel    Dealer            Automatic     Second Owner             10
LPG       Individual        Manual        Second Owner             10
Diesel    Individual        Automatic     Third Owner               9
Petrol    Dealer            Manual        Test Drive Car            9
LPG       Individual        Manual        First Owner               9
Petrol    Dealer            Automatic     Second Owner              9
CNG       Dealer            Manual        First Owner               7
Diesel    Dealer            Manual        Test Drive Car            7
Petrol    Dealer            Manual        Third Owner               4
          Trustmark Dealer  Automatic     First Owner               3
CNG       Individual        Manual        Fourth & Above Owner      3
Diesel    Dealer            Manual        Third Owner               3
LPG       Individual        Manual        Third Owner               2
Petrol    Trustmark Dealer  Automatic     Second Owner              2
CNG       Dealer            Manual        Second Owner              2
Diesel    Trustmark Dealer  Automatic     Second Owner              2
CNG       Individual        Manual        Third Owner               2
Diesel    Dealer            Automatic     Third Owner               2
                            Manual        Fourth & Above Owner      1
Petrol    Individual        Automatic     Fourth & Above Owner      1
LPG       Individual        Manual        Fourth & Above Owner      1
Diesel    Individual        Automatic     Fourth & Above Owner      1
Petrol    Dealer            Manual        Fourth & Above Owner      1
LPG       Dealer            Manual        First Owner               1
Petrol    Dealer            Automatic     Test Drive Car            1
Electric  Dealer            Automatic     Second Owner              1
dtype: int64

In [30]:
car.shape

(4340, 8)

In [31]:
car.replace({'fuel':{'Petrol':0,'Diesel':1,'CNG':2,'LPG':3,'Electric':4}},inplace = True)
car.replace({'seller_type':{'Individual':0,'Dealer':1,'Trustmark Dealer':2}},inplace = True)
car.replace({'transmission':{'Manual':0,'Automatic':1}},inplace = True)
car.replace({'owner':{'First Owner':0,'Second Owner':1,'Third Owner':2,'Fourth & Above Owner':3,'Test Drive Car':4}},inplace = True)

In [32]:
y=car['selling_price']

In [33]:
x=car[['year','km_driven','fuel','seller_type','transmission','owner']]

In [34]:
x.shape

(4340, 6)

In [35]:
x

      year  km_driven  fuel  seller_type  transmission  owner
0     2007      70000     0            0             0      0
1     2007      50000     0            0             0      0
2     2012     100000     1            0             0      0
3     2017      46000     0            0             0      0
4     2014     141000     1            0             0      1
...    ...        ...   ...          ...           ...    ...
4335  2014      80000     1            0             0      1
4336  2014      80000     1            0             0      1
4337  2009      83000     0            0             0      1
4338  2016      90000     1            0             0      0
4339  2016      40000     0            0             0      0

[4340 rows x 6 columns]

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)    
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((3038, 6), (1302, 6), (3038,), (1302,))

In [38]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [40]:
y_pred=lr.predict(x_test)

In [41]:
y_pred.shape

(1302,)

In [42]:
y_pred

array([-23727.39990272, 126715.41987154, 566152.54127376, ...,
       326013.8395571 , 499654.13097717, 655130.98571496])

In [43]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_pred)

247890240653.75412

In [44]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,y_pred)

246628.07045178537